{% extends "admin/base_site.html" %}
{% block extrahead %}
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&amp;subset=cyrillic" rel="stylesheet">
    <style>
        * {
            font-family: 'Roboto Condensed', sans-serif;
        }

        body.login {
            margin: 0;
            padding: 0;
            height: 100vh;

            display: flex;
            justify-content: center;
            align-items: center;
        }

        #branding.initialized {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        #site-name a {
            color: #C0CAD8 !important;
            font-size: 1.2rem;
            font-weight: 700;
        }

        ul.message_list {
            position: absolute;
            bottom: 15px;
            right: 15px;
        }

        .quiet {
            display: block;

            font-size: .9rem;
        }

        .module h2 a, .module caption a, .inline-group h2 a, #recent-actions-module > h2 {
            font-size: 1.1rem;
        }

        .sidebar-title {
            text-align: center;
        }

        .sidebar-title-link {
            font-size: 1.1rem;
        }

        .sidebar-link-label {
            font-size: .9rem;
        }

        .sidebar-section.last {
            visibility: hidden;
        }

        .sidebar-dependent {
            transition: all .25s linear;
        }

        .field-image_tag img {
            width: 100px;
            height: auto;
        }

        img[src$="admin/img/icon-yes.svg"]+span {
            color: #2980B9;
        }

        img[src$="admin/img/icon-no.svg"]+span {
            color: #F34336;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            /* $('#result_list tr td:nth-child(10)').each(function() {
                if ($(this).text() != 'Оплачен') {
                    $(this).parent().css('background-color', 'rgba(243, 67, 54, .1)');
                }
                else {
                    $(this).parent().css('background-color', 'rgba(138, 194, 75, .1)');
                }
            }); */
            
            vk_link = '<a href="http://vk.com/" class="sidebar-link icon"><span class="sidebar-link-label">VK</span></a>'
            insta_link = '<a href="http://instagram.com/" class="sidebar-link icon"><span class="sidebar-link-label">INSTAGRAM</span></a>'

            $('.sidebar-wrapper').find('.sidebar-section:first .sidebar-link.icon span:contains("Начало")').text('Главная страница');
            
            $('.sidebar-wrapper').find('.sidebar-section:first .sidebar-link.icon span:contains("Открыть сайт")').parent().attr("href", "http://saray.studio/");
            $('.sidebar-wrapper').find('.sidebar-section:first .sidebar-link.icon span:contains("Открыть сайт")').text('Сайт');

            $('.sidebar-wrapper').find('.sidebar-section:first .sidebar-link.icon span span').remove();
            $('.sidebar-wrapper').find('.sidebar-section:first').append(vk_link, insta_link);
        });
    </script>
{% endblock %}